<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
autoReload="true"
throwConfigExceptions="true"
internalLogLevel="Trace"
internalLogFile="nlog-internal.log">

<extensions>
	<add assembly="NLog.Web.AspNetCore"/>
</extensions>

<targets>


	<target xsi:type="File" name="file" fileName="log.txt"
		   layout="${longdate} | ${logger} | ${message} | ${exception:format=ToString,Data:maxInnerExceptionLevel=5:innerFormat=Message,Type,StackTrace}" />

	<!--target name="console" xsi:type="Console"-->
	<target xsi:type="AsyncWrapper" name="databaseAsync" overflowAction="Discard" queueLimit="10000">
		<target xsi:type="BufferingWrapper" name="databaseBuffer" bufferSize="100" flushTimeout="10000">
			<target name="database" xsi:type="Database">
        <!--
				<connectionString>Server=DEV-PAMELAAGAJ;Database=Journey_Db;User Id=sa;Integrated Security=True;TrustServerCertificate=True;</connectionString>
					-->
				<connectionString>Server=DESKTOP-NBO7V81;Database=Journey_Db;Trusted_Connection=True;MultipleActiveResultSets=True;TrustServerCertificate=True;</connectionString>
			

				<commandText>
					INSERT INTO "Nlogs"
					(CallSite, [Date], Message, [Exception], [Level], Logger, MachineName, StackTrace, Thread, Username)
					VALUES (@Callsite, @Date, @Message,@Exception,@Level, @Logger, @MachineName, @StackTrace, @Thread, @Username);

				</commandText>

				
				<parameter name="@CallSite" layout="${callsite:filename=true}" />
				<parameter name="@Date" layout="${date}" />
				<parameter name="@Message" layout="${message}" />
				<parameter name="@Exception" layout="${exception:tostring}" />
				<parameter name="@Level" layout="${level}" />
				<parameter name="@Logger" layout="${logger}" />
				<parameter name="@MachineName" layout="${machinename}" />
				<parameter name="@StackTrace" layout="${stacktrace}" />
				<parameter name="@Thread" layout="${threadid}" />
				<parameter name="@Username" layout="${aspnet-user-identity}" />
			</target>
		</target>
	</target>

</targets>

<rules>
	<logger name="*" writeTo="database" minlevel="Debug" />
	<logger name="*" minlevel="Info" writeTo="file" final="true" />

</rules>
</nlog>
